.formButton {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #8ef300;
  border-radius: 0.6em;
  color: #8ef300;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.formButton:hover, .formButton:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #8ef300 inset;
}


.formTextBox {
    width: 15rem;
    height: 2.3rem;
    border-radius: 0.6rem;
    border-color: #8ef300;
    margin: 0.5rem;
}